/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
#nav-link text-dark:hover {
  background-color: lightblue
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;

  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

p {
  text-align: justify;
}


body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
}

td:hover {
  word-wrap: break-word;
  word-break: break-all;
  width: 20%;
  overflow: visible;
  white-space: normal;

  background-color: #e93eff;
  transition-property: background-color, height;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

table {
  table-layout: fixed;
  width: 25%;
  word-wrap: break-word;
  word-break: break-all;

}

/* Table Head */
th {
  background-color: rgb(128, 102, 160);
  color: #fff;
  border-bottom-width: 0;
}

/* Column Style */
td {
  color: #000;
}

/* Heading and Column Style */
tr,
th {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(128, 102, 160);
}

/* Padding and font style */
td,
th {
  padding: 5px 10px;
  font-size: 12px;
  font-family: Verdana;
  font-weight: bold;
}

a {
  color: blue
}