@page
@model PrivacyModel
@{
    ViewData["Title"] = "Cégep Heritage College";
}
<h1>@ViewData["Title"]</h1>

<p><strong>Cégep Heritage College </strong>is the only public,
     Anglophone CEGEP in Western Quebec. Its state-of- 
     the-art facilities are located in Gatineau, just 
     ten minutes from downtown Ottawa, in the heart of
      the National Capital Region, bordering scenic 
      Gatineau Park. Quality education, small classes,
       a friendly atmosphere and dynamic extra-curricular
        social activities make Heritage a great place to 
        study and meet new friends. Graduates of the 
        institution’s programs repeatedly stress the educational benefits of learning in an environment where teachers and staff are approachable, understanding and committed to student success. Cégep Heritage College offers a full range of educational choices including advanced general studies leading to university, as well as career-oriented technical studies with hands-on training and co-op opportunities. Cégep Heritage College’s Centre for Continuing Education offers a number of full-time programs leading to an Attestation of College Studies (AEC) in both its Gatineau and Pontiac (Campbell’s Bay) campuses. Programs are offered on a rotational basis and last approximately one year.
     Learn more<img src="images/img01.jfif" style="float:left;padding : 5pt">
    Cégep Heritage College is the only public,
     Anglophone CEGEP in Western Quebec. Its 
     state-of- the-art facilities are located in Gatineau,
      just ten minutes from downtown Ottawa, in the heart
       of the National Capital Region, bordering scenic 
       Gatineau Park. Quality education, small classes, 
       a friendly atmosphere and dynamic extra-curricular
        and social activities make Heritage a great place
         to study and meet new friends. Graduates of the 
         institution’s programs repeatedly stress the educational
          benefits of learning in an environment where 
          teachers and staff are approachable, 
          understanding and committed to student success.
           Cégep Heritage College offers a full range of 
           educational choices including advanced general 
           studies leading to university, 
           <img src="images/img02.jfif" style="float:right;padding : 5pt">as well as
            career-oriented technical studies with hands-on
             training and co-op opportunities. Cégep 
             Heritage College’s Centre for Continuing
              Education offers a number of full-time 
              programs leading to an Attestation of 
              College Studies (AEC) in both its Gatineau 
              and Pontiac (Campbell’s Bay) campuses. Programs 
              are offered on a rotational basis and last
              As the only English post-secondary educational institution in Western Quebec, Heritage College is committed to the social, cultural and economic advancement of the community. Its first priority is to provide to individuals and groups within that community quality learning opportunities for the achievement of their education, career, and life-long goals.

To achieve this goal, Heritage College invites interested candidates to submit their resumé at anytime. Resumés will be kept in our files for a period of 18 months. When applying for a position listed below, applicants are requested to send a resumé, and a covering letter indicating the position being applied for.

For teaching positions, please visit our Career or Pre-University programs section for a list of our programs and disciplines taught at Heritage.
As the only English post-secondary educational institution in Western Quebec, Heritage College is committed to the social, cultural and economic advancement of the community. Its first priority is to provide to individuals and groups within that community quality learning opportunities for the achievement of their education, career, and life-long goals.

To achieve this goal, Heritage College invites interested candidates to submit their resumé at anytime. Resumés will be kept in our files for a period of 18 months. When applying for a position listed below, applicants are requested to send a resumé, and a covering letter indicating the position being applied for.

For teaching positions, please visit our Career or Pre-University programs section for a list of our programs and disciplines taught at Heritage.

               approximately one year. <a href="https://localhost:5001/Courses"><strong>Rigist On Line</strong></a>
</p>
