@page
@model PrivacyModel
@{
    ViewData["Title"] = "Cégep Heritage College";
}
<h1>@ViewData["Title"]</h1>

<p><strong>Cégep Heritage College </strong>is the only public,
     Anglophone CEGEP in Western Quebec. Its state-of- 
     the-art facilities are located in Gatineau, just 
     ten minutes from downtown Ottawa, in the heart of
      the National Capital Region, bordering scenic 
      Gatineau Park. Quality education, small classes,
       a friendly atmosphere and dynamic extra-curricular
        social activities make Heritage a great place to 
        study and meet new friends. Graduates of the 
        institution’s programs repeatedly stress the educational benefits of learning in an environment where teachers and staff are approachable, understanding and committed to student success. Cégep Heritage College offers a full range of educational choices including advanced general studies leading to university, as well as career-oriented technical studies with hands-on training and co-op opportunities. Cégep Heritage College’s Centre for Continuing Education offers a number of full-time programs leading to an Attestation of College Studies (AEC) in both its Gatineau and Pontiac (Campbell’s Bay) campuses. Programs are offered on a rotational basis and last approximately one year.
     Learn more<img src="images/img01.jfif" style="float:left">
    Cégep Heritage College is the only public,
     Anglophone CEGEP in Western Quebec. Its 
     state-of- the-art facilities are located in Gatineau,
      just ten minutes from downtown Ottawa, in the heart
       of the National Capital Region, bordering scenic 
       Gatineau Park. Quality education, small classes, 
       a friendly atmosphere and dynamic extra-curricular
        and social activities make Heritage a great place
         to study and meet new friends. Graduates of the 
         institution’s programs repeatedly stress the educational
          benefits of learning in an environment where 
          teachers and staff are approachable, 
          understanding and committed to student success.
           Cégep Heritage College offers a full range of 
           educational choices including advanced general 
           studies leading to university, 
           <img src="images/img02.jfif" style="float:right">as well as
            career-oriented technical studies with hands-on
             training and co-op opportunities. Cégep 
             Heritage College’s Centre for Continuing
              Education offers a number of full-time 
              programs leading to an Attestation of 
              College Studies (AEC) in both its Gatineau 
              and Pontiac (Campbell’s Bay) campuses. Programs 
              are offered on a rotational basis and last
              
               approximately one year. <a href="https://localhost:5001/Courses"><strong>Rigist On Line</strong></a>
</p>
